Win32/*
!Win32/Debug/SeuProjeto.exe
!Win32/Release/SeuProjeto.exe

*.dll
*.dcu
*.dcp
*.dcpil
*.drc
*.map
*.dres
*.rsm
*.tds

Win64/
Debug/
Release/
__history/
__recovery/

config.ini
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.stat
*.~*
*.bak
*.dproj.local